#TimeLine-Wrapper {
    margin: var(--main-wrapper-margin);
    padding: var(--main-wrapper-padding);
    padding-bottom: 0;
    color: var(--text-color);
    display: flex;
    flex-direction: column;

    overflow-x: scroll;
}

#TimeLine-Wrapper h1 {
    font-size: calc(var(--p-font-size)*5);
    margin-bottom: 3rem;
}

#TimeLine-LineWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* overflow-x: scroll; */
}

#TimeLine-LineWrapper article {
    background-color: var(--background-color-three);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px var(--background-color-one);
    white-space: nowrap;
    margin: 20px 10px;
    position: relative;
}

main ::-webkit-scrollbar {
    background-color: transparent !important;
}

main ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--background-color-three);
}

main ::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color);
}

#TimeLine-Wrapper .TimeLine-InfoWrapper {
    display: flex;
    /* background-color: aliceblue; */
    flex-direction: row;
    align-items: flex-start;
}

#TimeLine-Wrapper .TimeLine-InfoWrapper div {
    display: flex;
    opacity: 0;
    flex-direction: column;
    width: 400px;
    padding: 20px;
    background-color: var(--background-color-three);
    border-radius: 20px;
    box-shadow: 0px 0px 20px var(--background-color-one);
    margin: 20px 10px;
    position: relative;
    gap: 10px;
    transition: opacity .5s ease;
}