#ProjectsOverviewWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    padding: var(--main-wrapper-padding);
    margin: var(--main-wrapper-margin);
    position: relative;
}

#ProjectsOverviewWrapper .ProjectsOverview-ProjectWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 7rem;
    column-gap: 10rem;
}

#ProjectsOverviewWrapper h2 {
    font-size: calc(var(--p-font-size)*4);
    color: var(--text-color);
    display: inline-block;
    position: relative;
}

#ProjectsOverviewWrapper h3 {
    font-size: calc(var(--p-font-size)*2);
    color: var(--text-color)
}


#ProjectsOverviewWrapper .ProjectsOverview-Footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

#ProjectsOverviewWrapper .ProjectsOverview-Footer a {
    font-size: var(--a-font-size);
    color: var(--text-color)
}


#ProjectsOverviewWrapper::before {
    content: "const";
    font-size: calc(var(--p-font-size)*5);
    position: absolute;
    top: 20px;
    left: 50px;
    z-index: -1;
    font-family: var(--font-family-p);
    text-shadow: 0px 0px 5px var(--background-color-one);
    opacity: .5;
    color: var(--background-color-four);
    display: block;
}

#ProjectsOverviewWrapper>article h2::after {
    content: "=";
    font-size: calc(var(--p-font-size)*5);
    position: absolute;
    top: -10px;
    right: -130px;
    z-index: -1;
    font-family: var(--font-family-p);
    text-shadow: 0px 0px 5px var(--background-color-one);
    opacity: .5;
    color: var(--background-color-four);
    display: block;
}