@font-face {
  font-family: Poppins-Medium;
  src: url('./fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('./fonts/Poppins/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('./fonts/Poppins/Poppins-Bold.ttf');
}


* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid black; */
  font-family: Poppins-Medium, sans-serif;
  box-sizing: border-box;
}

body {
  /* background-color: #002855 */
  background: linear-gradient(#002855 34%, #0a2e71 70%, #023E7D 100%);
  min-height: 90vh;
  position: relative;
}


:root {
  --text-color: #3eaaff;
  --background-color-one: #001233;
  --background-color-two: #002855;
  --background-color-three: #0a2e71;
  --background-color-four: #023770;
  --background-color-five: #002750;
  --p-font-size: 16px;
  --a-font-size: 20px;
  --hover-color: #63fdff;
  --top-wrapper-padding: 20px 10vw;
  --main-wrapper-padding: 100px 10vw;
  --main-wrapper-margin: 100px 0px;
  --button-border: #0466c8;
  --font-family-p: Poppins-SemiBold;
  --font-family-bold: Poppins-Bold;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 1500px) {
  :root {
    --top-wrapper-padding: 20px 5vw;
    --main-wrapper-padding: 100px 5vw;
    --main-wrapper-margin: 100px 0px;
  }
}

@media only screen and (max-width: 1250px) {
  :root {
    --top-wrapper-padding: 20px 3vw;
    --main-wrapper-padding: 100px 3vw;
    --main-wrapper-margin: 100px 0px;
  }
}

@media only screen and (max-width: 900px) {
  :root {
    --main-wrapper-margin: 9rem 0;
  }

  @-moz-document url-prefix() {
    :root {
      --main-wrapper-margin: 12rem 0;
    }

  }
}

@media only screen and (max-width: 600px) {

  :root {
    --p-font-size: 10px;
    --a-font-size: 15px;
  }
}

@media only screen and (max-width: 520px) {
  @-moz-document url-prefix() {
    :root {
      --main-wrapper-margin: 15rem 0;
    }

  }
}


.underlineHover {
  position: relative;
}

.underlineHover:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underlineHover:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

a {
  text-decoration: none;
}