.ContactPageWrapper {
    padding: var(--top-wrapper-padding);
    margin: var(--main-wrapper-margin);
    display: flex;

}

.ContactPageWrapper h1 {
    font-size: calc(var(--p-font-size)*5);
    color: var(--text-color);
}

.ContactPageWrapper .ContactPage-FormWrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 5rem;
}

.ContactPageWrapper .ContactPage-FormWrapper label {
    font-size: calc(var(--p-font-size)*2.5);
    color: var(--text-color);
    margin-top: 1rem;
}

.ContactPageWrapper .ContactPage-FormWrapper input,
.ContactPageWrapper .ContactPage-FormWrapper textarea {
    width: 500px;
    padding: .5rem;
    font-size: calc(var(--p-font-size)*1.2);
    font-family: var(--font-family-p);
    box-shadow: 0px 0px 20px var(--background-color-one);
    border-radius: 10px;
    border: none;
}

.ContactPageWrapper .ContactPage-FormWrapper textarea {
    resize: none;
    height: 150px;
}

.ContactPageWrapper .ContactPage-FormWrapper input:focus,
.ContactPageWrapper .ContactPage-FormWrapper textarea:focus {
    outline: 3px solid var(--text-color)
}

.ContactPageWrapper .ContactPage-FormWrapper button {
    width: 300px;
    padding: .5rem;
    font-size: calc(var(--p-font-size)*1.2);
    font-family: var(--font-family-p);
    background-color: var(--background-color-four);
    color: var(--text-color);
    margin-top: 1rem;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 20px var(--background-color-one);
    align-self: center;
}

.ContactPageWrapper .ContactPage-FormWrapper button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 50px var(--background-color-one);
}

.ContactPageWrapper .ContactPage-FormWrapper .errorMsg {
    color: red;
    font-size: calc(var(--p-font-size)*1.2);
}


.ContactPageWrapper .ContactPage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--p-font-size);
}

.ContactPageWrapper .ContactPage-acceptData label {
    font-size: var(--p-font-size);
    display: flex;
    color: var(--text-color);
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.ContactPageWrapper .ContactPage-acceptData p {
    font-size: var(--p-font-size);
    color: var(--text-color);
    word-wrap: break-word;
}

.ContactPageWrapper .ContactPage-acceptData a {
    font-size: var(--p-font-size);
    color: var(--text-color);
    text-decoration: underline;
}

.ContactPageWrapper .ContactPage-acceptData label input {
    background-color: none;
    box-shadow: none;
    width: auto;
    /* height: 50px; */
    margin: 10px;
}

.ContactPageWrapper .ContactPage-RightContainer .icons {
    font-size: 70px;
    color: var(--text-color);
    padding: 10px
}

.ContactPageWrapper .ContactPage-RightContainer .icons:hover {
    color: var(--background-color-one);

}

.ContactPageWrapper .ContactPage-RightContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    justify-content: center;
}


.ContactPageWrapper .ContactPage-RightContainer h3 {

    color: var(--text-color);
    font-size: calc(var(--p-font-size)*2)
}

.ContactPageWrapper .ContactPage-RightContainer h4 {
    color: var(--text-color);
    font-size: calc(var(--p-font-size)*1.5)
}

.ContactPageWrapper .ContactPage-RightContainer a {
    color: var(--text-color);
    font-size: calc(var(--p-font-size)*1.2);
    text-decoration: underline;
    text-underline-offset: 5px;
}



@media only screen and (max-width: 950px) {

    .ContactPageWrapper {
        flex-direction: column;
        gap: 10rem
    }

    .ContactPageWrapper .ContactPage-RightContainer,
    .ContactPageWrapper .ContactPage-LeftContainer {
        width: 100%;
    }

    .ContactPageWrapper .ContactPage-FormWrapper {
        margin: 0;
        width: 100%;
    }

    .ContactPageWrapper .ContactPage-FormWrapper input,
    .ContactPageWrapper .ContactPage-FormWrapper textarea {
        width: 95%;
    }

    .ContactPageWrapper .ContactPage-acceptData label input {
        height: 40px;
        width: 40px;

    }

    .ContactPageWrapper .ContactPage-acceptData {
        width: 95%;
    }
}

@media only screen and (max-width: 900px) {
    .ContactPageWrapper .ContactPage-RightContainer a {
        color: var(--text-color);
        font-size: calc(var(--p-font-size)*2)
    }

}